appdirs==1.4.4
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
cssutils==2.2.0
distlib==0.3.1
email-to==0.1.0
filelock==3.0.12
idna==2.10
lxml==4.6.3
Markdown==3.3.4
pipenv==2020.11.15
platformdirs==2.0.2
premailer==3.8.0
python-decouple==3.4
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
virtualenv==20.6.0